.persons-pannel {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #EFF6E0;
  padding: 50px;
  font-size: 20px;
  z-index: -1;
}

.titl {
  text-align: center;
  background-color: #AEC3B0;
}

.desc {
  text-align: center;
  background-color: #AEC3B0;
  padding: 10px;
}



.projects-pannel {
  background-color: #AEC3B0;
  z-index: 1;
}

.claro {
  color: white;
  background-color: #598392;
}

.obscuro {
  color: white;
  background-color: #124559;
}

.obscurisimo {
  color: white;
  background-color: #01161E;
}
